name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    uses: nicksp/workflows/.github/workflows/test.yml@9aa08eca2156fa7397730687b3a20a547ec1481d # v1.3.0
