name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    uses: nicksp/workflows/.github/workflows/test.yml@7930c378a75a10f5ab3ce92b5140742504dd1cb8 # v1.2.0
