name: Release

on:
  push:
    branches:
      - main

jobs:
  release-please:
    uses: nicksp/workflows/.github/workflows/release-please.yml@4b1950fadababbc1057c7b25f8edebe186cb8f7d # v1
    with:
      publish: true
    permissions:
      contents: write
      id-token: write
      pull-requests: write
