name: Release

on:
  push:
    branches:
      - main

jobs:
  release-please:
    uses: nicksp/workflows/.github/workflows/release-please.yml@9aa08eca2156fa7397730687b3a20a547ec1481d # v1.3.0
    with:
      publish: true
    permissions:
      contents: write
      id-token: write
      pull-requests: write
