name: Release

on:
  push:
    branches:
      - main

jobs:
  release-please:
    uses: nicksp/workflows/.github/workflows/release-please.yml@dbb8f1d9c001cd007b13b6141b06a8e513db4e0f # v1.3.1
    with:
      publish: true
    permissions:
      contents: write
      id-token: write
      pull-requests: write
