name: Release

on:
  push:
    branches:
      - main

jobs:
  release-please:
    uses: nicksp/workflows/.github/workflows/release-please.yml@7930c378a75a10f5ab3ce92b5140742504dd1cb8 # v1.2.0
    with:
      publish: true
    permissions:
      contents: write
      id-token: write
      pull-requests: write
